
<link rel="stylesheet" href="static\styles.css">
<html><body>
<div>

<form method="POST">
  {% csrf_token %}
  <table width="1200" >
    <tr>
    <td width="90%">
      <pre><textarea ALIGN=LEFT id="code" name="code" contenteditable="true"  style="width: 1080;height: 535px;" >
#include<bits/stdc++.h>
using namespace std;
int main(){
  int arr[10]={0};
  int brr[10]={0};
}
      </textarea></pre>
    </td>
    <td VALIGN=TOP>
      <select id="lang" name="lang">
        <option value="C++">C++</option>
        <option value="JS">JS</option>
        <option value="Python">Python</option>
      </select><br>
      <input type="text" name="num" id="num" value="0"><br>
      <input type="button" value="Add arrays" onclick=func()>
      <div id="f1"></div><br>
      <input type="submit" Value="Submit" id="show">
    </td>
    </tr>
  </table>
</form>
</div>
Tip: only globally declared variables are allowed to be tracked.
<script>
  function func(){
    var arrays=0;
    str="<br>Arrays:";
    num= document.getElementById("num").value;
    for(i=0;i<num;i++){
      str+="<br><input type='text' name="+arrays+">";
      arrays+=1;
    }
    document.getElementById("f1").innerHTML=str;
    document.getElementById("num").value=arrays;
  }
</script> 

</body></html>