<!DOCTYPE html>
<html>
	<head>
		
		<title>
			Code Visualization
		</title>
		
		<!-- css sheet for how the page is laid out -->
		
		<link rel="stylesheet" href="static/visualizationPageStyle.css">
			
			
		<!-- jqueury stuff.  Only used for the animation speed slider. -->
		<link rel="stylesheet" href="static/ThirdParty/jquery-ui-1.8.11.custom.css">
				
		<script src = "static/ThirdParty/jquery-1.5.2.min.js"></script>
		<script src = "static/ThirdParty/jquery-ui-1.8.11.custom.min.js"></script>
				
		<!-- Javascript for the actual visualization code -->
		<script type = "application/javascript" src = "static/AnimationLibrary/CustomEvents.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/UndoFunctions.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/AnimatedObject.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/AnimatedLabel.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/AnimatedCircle.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/AnimatedRectangle.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/AnimatedLinkedList.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/HighlightCircle.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/Line.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/ObjectManager.js"> </script>
		<script type = "application/javascript" src = "static/AnimationLibrary/AnimationMain.js"> </script>
		<script type = "application/javascript" src = "static/AlgorithmLibrary/Algorithm.js"> </script>
		<script type = "application/javascript" src = "static/AlgorithmLibrary/Algo.js"> </script> 
				
			
	 </head> 
	
	<body onload="init();" class="VisualizationMainPage">
		
		<div id = "container">
			
			<div id="header">  
				<h1>Code Visualization</h1>
			</div>
			
			<div id = "mainContent"> 
				
				<div id = "algoControlSection">
					<!-- Table for buttons to control specific animation (insert/find/etc) -->
					<!-- (filled in by javascript code specific to the animtion) -->
					<table id="AlgorithmSpecificControls"> </table> 
				</div>
				
					<!-- Drawing canvas where all animation is done.  Note:  can be resized in code -->
									
				<canvas id="canvas" width="1000" height="500"></canvas>
				<div id = "generalAnimationControlSection">
					<!-- Table for buttons to control general animation (play/pause/undo/etc) ->
					<!-- (filled in by javascript code, specifically AnimationMain.js)  -->

					<table id="GeneralAnimationControls">  </table>		
				</div>
				
			</div> <!-- mainContent -->
			

		</div><!-- container -->
		<textarea id="tb" style="display: none;" >{{output}}</textarea>
	</body>
</html>

<script >
function get_instructions(Instructions){
	var str = document.getElementById('tb').value;
	str = str.replace(/{/g," { "); 
	str = str.replace(/}/g," } ");
	str = str.replace(/'/g,"\""); 

	console.log(str);
	var j=0;
	var final =""
	while (j<str.length){
		if (str[j]==' ' || str[j] == ',' || str[j] == '[' || str[j] == ']' || str[j] == '{' || str[j] == '}' || str[j] == ":"){
			final+=str[j];
			j+=1;
		}
		else if(str[j]=="\""){
			final+=str[j];
			j++;
			while(j<str.length && str[j] != "\""){final+=str[j];j+=1;}
			final+=str[j];
			j++;
		}
		else {
			temp = ""
			final+="\"";
			while(j<str.length && str[j]!=' ' && str[j]!=',' && str[j]!='[' && str[j]!=']' && str[j]!='{' && str[j]!='}' && str[j]!="\"" && str[j]!=":" ){
				final+=str[j];
				console.log("ger"+ j);
				j+=1;
			}
			final+="\""
		}
	}
	output = JSON.parse(final);
	
	console.log(final);
	for (i=0 ; i<output.length;i++){
		temp ={};
		temp['Line'] = output[i]["Line"];
		temp['actions'] = output[i]["actions"];
		Instructions.push(temp);
	}
	console.log(Instructions);
	return Instructions
}
</script>